.BasePage {
    font-family: 'Open Sans', sans-serif;
    background-color: #152b37;
    color: white;
}

.HabitBox {
    padding: 0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #152b37;
    height: 40vh; 
    border: 1px solid #132731; 
    overflow-y: auto; 
    overflow-x: hidden
}

.NavBox {
    padding: 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #152b37;
    height: 10vh;
    border: 1px solid #132731;
}

.TimerBox {
    height: 60vh;
    padding: 0;
    border: 1px solid #132731;
}

.TaskBox {
    height: 90vh;
    padding: 0;
    border: 1px solid #132731; 
    overflow-y: auto;
    overflow-x: hidden;
}

.TaskButton {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: transparent;
    border: transparent;
}

.TaskButton {
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.TaskButton:hover {
    background-color: transparent;
    border: transparent;
}

.TaskButton i:hover {
    color: #8BB0E9;
    background-color: transparent;
    border: transparent;
}

.TaskButton i:hover {
    color: #8BB0E9;
}

.TaskButton:hover:active {
    background-color: transparent !important;
}

.TaskButton:active {
    background-color: transparent !important;
}

.TaskButton:focus {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}


@media (max-width: 767px) {

    .HabitBox,
    .NavBox {
        position: static;
    }

    .HabitBox,
    .NavBox,
    .TaskBox,
    .TimerBox {
        overflow-x: hidden;
       
    }

    .TimerBox {
        overflow-y: hidden;
        height: auto;
    }
}