.BasePage {
    font-family: 'Open Sans', sans-serif;
    background-color: #152b37;
    color: white;
}

.HabitBox {
    padding: 0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #152b37;
} 

.NavBox {
    padding: 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #152b37;
} 

@media (max-width: 767px) {
    .HabitBox,
    .NavBox {
        position: static;
    }
}