.HabitCard {
  color: black;
}

.Habit {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
  position: relative;
  /* Add this line */
}

.Habit figure,
h5 {
  margin: 0 0;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #dadadf;
}

.Button {
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.Button:hover {
  background-color: transparent;
  border: transparent;
}

.Button i:hover {
  color: #a577d2;
}

.Button i {
  font-size: 15px;
}

.ButtonContainer {
  position: relative;
  font-size: 15px;
  width: 300px;
}

.Table {
  width: 100%;
  font-size: .9rem;
}

.Check {
  padding: 0.5rem;
}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #55455f;
  background-color: #55455f;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #833ab4;
  border-color: #9549c7;
}

@media (max-width: 767px) {
  .Button{
    position: relative;
  }

  .DeleteButton {
    position: absolute;
  }
}
