
.HabitCard {
    color: black;
  }
  
  .Habit {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    position: relative; /* Add this line */
  }
  
  .Habit figure,
  h5 {
    margin: 0 0;
  }
  
  .Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #dadadf;
  }
  
  .Button {
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 0;
    right: 0;
  }

  .Button i {
    font-size: 15px;
  }
  
  .ButtonContainer {
    position: relative;
  }