.Row {
    height: calc(10vh);
    margin-top: 60px;
}

.Title {
    margin-top: 60px;
}

.BasePage {
    font-family: 'Open Sans', sans-serif;
    background-color: #152b37;
    color: white;
}

.HabitBox {
    height: 300px;
    border: 1px solid black;
    padding: 0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #152b37;
}

.NavBox {
    height: 100px;
    border: 1px solid black;
    padding: 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #152b37;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #2142b2 !important;
}

.Button:active {
    background-color: #2142b2 !important;
}

.Button:focus {
    background-color: #2142b2;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
    background-color: #2142b2;
    color: #ffffff;
}

.BlueOutline,
.Blue:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color: #2142b2;
}

.Black,
.BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #242a3d;
    color: aliceblue;
}

.Black:hover,
.BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #242a3d;
}

.Bright {
    background-color: #2ed9ff;
    color: #2142b2;
}

.ButtonTask {
    position: absolute;
    right: 30px;
    top: 30px;
}

.ButtonCategory{
    position: absolute;
    right: 130px;
    top: 30px;
}